doctype html 
html(lang='en') 
  head
     title Pug
  body
    h1 Pug Examples
    div.container
      p Cool Pug example
      section.studycase 
       h2 StudyCase
       p This is a study case of Pug.
       