<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Form</h1>
    <form>
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname" required><br><br>
        <textbox id="meta" name="minlength">
            <label for="meta">Minimum Length:</label><br>
            <input type="number" id="meta" name="minlength" value="5" min="5" required><br><br>
          </textbox>
        <input type="radio buttons"  id=""
    </form>
</body>
</html>