doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
h2 HTML Forms
form(action='#' method='post')
  label(for='fname') First quote:
  br
  input#fname(type='text' name='fname')
  br
  label(for='lname') Last quote:
  br
  input#lname(type='text' name='lname')
  br
  br
  input(type='submit' value='Submit')